@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: cursive,sans-serif, Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
}

main{
    height: 100vh;
    background-image: url(../Imagens/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section{
    height: 70vh;
    width: 90vw;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
}

div#login{
    position: relative;
    width: 40%;
    height: 100%;
    color: white;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.584);
}

div#login h1{
    text-shadow: 2px 2px 6px  black;
    padding-top: 10px;
    padding: 10px;
    font-size: 2.0em;
}

div#login p{
    text-shadow: 2px 2px 6px  black;
    padding: 1em;
    padding-top: 30px;
}

div#login button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    background-color:  rgba(255, 255, 255, 0.913);
    border: 3px solid black;
    border-radius: 50px;
    padding: 5px;
}

div#login button a{
    color: black;
    text-decoration: none;
    font-weight: bolder
}

div#login button:hover, div#login button a:hover{
    color: white;
    background-color: rgb(130, 130, 130);
    cursor: pointer;
}


div#registro{
    height: 100%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.612);
    display: block;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

div#registro h2{
    text-shadow: 2px 2px 6px  black;
    color: white;
    padding-top: 10px;
    padding: 10px;
    font-size: 2.0em;
}

div#registro p{
    padding: 3px;
}

div#registro input{
    width: 70%;
    font-weight: bolder;
    padding: 15px;
    border-radius: 50px;
    margin-bottom: 10px;
    border: 2px solid #858585;
}

div#registro input#enviar,
div#registro input#limpar{
    cursor: pointer;
    width: 45%;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50px;
}

div#registro input#enviar:hover,
div#registro input#limpar:hover{
    border: 2px solid white;
    background-color: black;
    color: white;
}